################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmartPointers/Debug
/SmartPointers/.vs/SmartPointers/v15
/SmartPointers/SmartPointers.vcxproj.user
/SmartPointers/SmartPointers.vcxproj.filters
/SmartPointers/SmartPointers.vcxproj
/SmartPointers/SmartPointers.sln
/Templates/Function/Function.sln
/Templates/Function/.vs/Function/v15
/Templates/Function/Function/Function.vcxproj.user
/Templates/Function/Function/Function.vcxproj.filters
/Templates/Function/Function/Function.vcxproj
